<app-fruits></app-fruits>

<app-data-display [numberInput]="updatedNumber"></app-data-display>

<div>
  <div class="col col-xs-5" *ngIf="leftEnabled">
    <app-data-entry (numberChanged)="changedNumber($event)"></app-data-entry>
  </div>
</div>
<div>
  <button type="submit" (click)="ToggleLeft()">Toggle left</button>
</div>
<div>
  <button type="submit" (click)="ToggleRight()">Toggle Right</button>
</div>
<div>
  <div class="col col-xs-5" [hidden]="rightEnabled">
    <app-data-entry (numberInput)="updatedNumber"></app-data-entry>
  </div>
</div>
